body{
    margin: 0;
    padding: 0;

.allCards{
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}
.card{
    width: 22%;
    margin: 10px;
}

















}